<footer class="bg-white py-5 border-top">
	<div class="container text-center" style="max-width: 60%">
		<h4>Copyright 2025. WWY All rights reserved.</h4>
		<h5>📧 getinthere@naver.com</h5>
		<div>metacoding</div>
		<div>Made By KDTC3-G3</div>
	</div>
</footer>
</body>
</html>