<div class="container mt-4 mb-5" style="max-width: 60%">
	<div class="d-flex gap-4 align-items-top justify-content-between">
		<!-- 왼쪽 박스 -->
		<div class="flex-fill" style="max-width: 25%">
			<div class="bg-white border rounded p-3 overflow-auto" style="height: 600px">
				<h5 class="ms-3 fw-bold mt-4">내 정보</h5>
				<ul class="navbar-nav flex-column gap-2 mb-5 ps-3">
					<li class="nav-item">
						<a class="nav-link text-dark fw-semibold ps-4" href="/mypage">계정 관리</a>
					</li>
				</ul>

				<h5 class="ms-3 fw-bold mt-4">채용</h5>
				<ul class="navbar-nav flex-column gap-2 mb-5 ps-3">
					{{^model.isCompanyUser}}
						<li class="nav-item">
							<a class="nav-link text-dark fw-semibold ps-4" href="/mypage/resume">이력서</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark fw-semibold ps-4" href="/mypage/apply">지원 현황</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark fw-semibold ps-4" href="/mypage/scrap">스크랩</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark fw-semibold ps-4" href="/match">추천</a>
						</li>
					{{/model.isCompanyUser}}
					{{#model.isCompanyUser}}
						<li class="nav-item">
							<a class="nav-link text-dark fw-semibold ps-4" href="/mypage/employment">채용 현황 관리</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark fw-semibold ps-4" href="/mypage/apply/com">지원 관리</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark fw-semibold ps-4" href="/mypage/scrap/com">스크랩</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark fw-semibold ps-4" href="/match/com">추천</a>
						</li>
					{{/model.isCompanyUser}}
				</ul>
			</div>
		</div>