<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/job-detail.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>


{{> layout/header}}
<!-- 채용공고 상세보기 -->

<input type="hidden" id="employmentId" value="{{model.id}}">

<main>
    <section>
        <div class="container mt-4 mb-5 d-flex justify-content-between">
            <div class="doc-wrap p-4">
                <div class="doc-info1">
                    <div class="doc-top d-flex justify-content-between">
                        <div
                                class="title-wrap d-flex gap-4 align-items-center"
                        >
                            <figure class="doc-logo">
                                <img src="{{model.userImgUrl}}"
                                     alt=""/>
                            </figure>
                            <!-- .doc-logo end -->
                            <div class="d-flex flex-column gap-2">
                                <h3 class="title">{{model.title}}</h3>
                                <p class="description">{{model.comName}}</p>
                            </div>
                        </div>
                        {{#model.isCompanyUser}}
                        {{/model.isCompanyUser}}
                        {{^model.isCompanyUser}}
                            {{#model.isScrap}}
                                <div class="btn-wrap mt-1">
                                    <div class="toggle-btn">
                                        <i id="scrapIcon" class="fa fa-star" style="
                                        font-size: 24px;
                                        color: yellow;
                                        text-shadow: 0 0 1px #000, 0 0 1px #000;
                                  " onclick="deleteScrap({{model.scrapId}})"></i>
                                    </div>
                                </div>
                            {{/model.isScrap}}
                            {{^model.isScrap}}
                                <div class="btn-wrap mt-1">
                                    <div class="toggle-btn">
                                        <i id="scrapIcon" class="fa fa-star" style="
                                        font-size: 24px;
                                        color: black;
                                        text-shadow: 0 0 1px #000, 0 0 1px #000;
                                  " onclick="saveScrap()"></i>
                                    </div>
                                </div>
                            {{/model.isScrap}}
                        {{/model.isCompanyUser}}
                        <!-- .toggle-btn end -->
                    </div>
                    {{#model.isOwner}}
                        <div class="btn-wrap d-flex justify-content-end">
                            <a href="/employment/{{model.id}}/update-form" class="btn btn-warning me-1"
                            >수정</a
                            >
                            <form action="/employment/{{model.id}}/delete" method="post">
                                <button class="btn btn-danger">삭제</button>
                            </form>
                        </div>
                    {{/model.isOwner}}
                </div>
                <!-- .doc-info1 end -->
                <div
                        class="doc-info2 d-flex flex-column mt-3 rounded overflow-hidden p-3 mb-1"
                >
                    <div class="inner">
                        <div class="row">
                            <div
                                    class="col-6 py-3 d-flex align-items-center"
                            >
                                <h4 class="fs-6 fw-semibold">경력</h4>
                                <span class="fs-6 fw-semibold"
                                >{{model.exp}}</span
                                >
                            </div>
                            <div
                                    class="col-6 py-3 d-flex align-items-center"
                            >
                                <h4 class="fs-6 fw-semibold">
                                    학력
                                </h4>
                                <span class="fs-6 fw-semibold"
                                >{{model.edu}}</span
                                >
                            </div>
                        </div>

                        <div class="row">
                            <div
                                    class="col-6 py-3 d-flex align-items-center"
                            >
                                <h4 class="fs-6 fw-semibold">
                                    근무 형태
                                </h4>
                                <span class="fs-6 fw-semibold"
                                >{{model.shift}}</span
                                >
                            </div>
                            <div
                                    class="col-6 py-3 d-flex align-items-center"
                            >
                                <h4 class="fs-6 fw-semibold">급여</h4>
                                <span class="fs-6 fw-semibold"
                                >{{model.sal}}</span
                                >
                            </div>
                        </div>

                        <div class="row">
                            <div
                                    class="col-6 py-3 d-flex align-items-center"
                            >
                                <h4 class="fs-6 fw-semibold">
                                    근무시간
                                </h4>
                                <span class="fs-6 fw-semibold"
                                >{{model.workingTime}}</span
                                >
                            </div>
                            <div
                                    class="col-6 py-3 d-flex align-items-center"
                            >
                                <h4 class="fs-6 fw-semibold">근무지역</h4>
                                <span class="fs-6 fw-semibold"
                                >{{model.location}}</span
                                >
                            </div>
                        </div>

                        <div class="row">
                            <div
                                    class="col-12 py-3 d-flex align-items-center"
                            >
                                <h4 class="fs-6 fw-semibold">마감일</h4>
                                <span class="fs-6 fw-semibold"
                                >{{model.endDate}}</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .doc-info2 end -->
                <ul class="d-flex flex-column mt-5 pt-5">
                    <li class="d-flex flex-column mb-5">
                        <h4 class="fs-4 fw-semibold mb-3">주요 업무</h4>
                        <ul>
                            {{#model.duty}}
                                <li class="fs-6" style="list-style:disc outside none">{{.}}</li>
                            {{/model.duty}}
                        </ul>
                    </li>
                    <li class="d-flex flex-column mb-5">
                        <h4 class="fs-4 fw-semibold mb-3">자격 요건</h4>
                        <ul>
                            {{#model.qualification}}
                                <li class="fs-6" style="list-style:disc outside none">{{.}}</li>
                            {{/model.qualification}}
                        </ul>
                    </li>
                </ul>
                <ul class="point-wrap d-flex flex-column gap-2">
                    <li class="w100 rounded border p-5 d-flex">
                        <h4 class="fs-5 fw-semibold w-25">직무</h4>
                        <p class="fs-6 fw-medium px-3">
                            {{model.jobName}}
                        </p>
                    </li>
                    <li class="w100 rounded border p-5 d-flex">
                        <h4 class="fs-5 fw-semibold w-25">
                            기술 스택
                        </h4>
                        <p class="fs-6 fw-medium px-3">
                            {{model.stackStr}}
                        </p>
                    </li>
                </ul>
            </div>

            <!-- .doc-wrap end -->
            <aside
                    class="apply-wrap border rounded p-5 d-flex flex-column gap-3"
            >
                <div class="logo-wrap">
                    <figure><img src="{{model.userImgUrl}}"
                                 alt="" class="w-100"/></figure>
                </div>
                <ul class="info-wrap">
                    <li class="fs-4 fw-bold">{{model.title}}</li>
                    <li>{{model.comName}}</li>
                </ul>
                <div class="select-wrap d-flex flex-column gap-2">
                    <form method="post" action="/employment/{{id}}/apply">
                        <div class="dropdown">
                            <button
                                    type="button"
                                    class="btn btn-outline-primary dropdown-toggle w-100"
                                    data-bs-toggle="dropdown"
                                    id="resumeSelectButton">
                                이력서 선택
                            </button>
                            <ul class="dropdown-menu w-100">
                                {{#model.resumeList}}
                                    <li>
                                        <a class="dropdown-item" href="#"
                                           onclick="selectResume('{{id}}', '{{title}}')">{{title}}</a>
                                    </li>
                                {{/model.resumeList}}
                            </ul>
                        </div>

                        <!-- 실제 데이터 담는코드. 지우지마세요. -->
                        <input type="hidden" name="resumeId" id="resumeIdInput">

                        <div class="btn-wrap w-100 mt-3">
                            <button type="submit" class="btn btn-primary w-100">
                                지원하기
                            </button>
                        </div>
                    </form>
                </div>
            </aside>
            <!-- .apply-wrap end -->
        </div>
        <!-- .inner end -->
    </section>
</main>

<script>
    function selectResume(id, title) {
        document.getElementById('resumeIdInput').value = id;
        document.getElementById('resumeSelectButton').innerText = title;
    }

    let employmentId = document.querySelector("#employmentId").value;

    async function saveScrap() {
        let requestBody = {employmentId: employmentId};
        let response = await fetch(`/api/scrap`, {
            method: "POST",
            body: JSON.stringify(requestBody),
            headers: {"Content-Type": "application/json"}
        });

        let responseBody = await response.json(); // {scrapId}
        console.log(responseBody);

        // DOM 업데이트
        let scrapIcon = document.querySelector('#scrapIcon');
        scrapIcon.style.color = 'yellow';
        scrapIcon.setAttribute('onclick', `deleteScrap(${responseBody.scrapId})`);
    }

    async function deleteScrap(scrapId) {
        let response = await fetch(`/api/scrap/${scrapId}`, {
            method: "DELETE"
        });
        let responseBody = await response.json(); // response.text();
        console.log(responseBody);

        // DOM 업데이트
        let scrapIcon = document.querySelector('#scrapIcon');
        scrapIcon.style.color = 'black';
        scrapIcon.setAttribute('onclick', `saveScrap()`);
    }
</script>

{{> layout/footer}}
