<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/job-list.css"/>
</head>
<!-- 채용공고 리스트 -->
{{> layout/header}}

<main>
    <section>
        <div class="container mt-4 mb-5 py-4 d-flex flex-column gap-1">
            <div class="filter-wrap">
                <form action="/employment" method="GET">
                    <div
                            class="top d-flex align-items-center mb-3 justify-content-between"
                    >
                        <div class="d-flex gap-4 align-items-center">
                            <!-- 직무 -->
                            <div class="d-flex align-items-center gap-2">
                                <label for="jobType" class="form-label mb-0 me-2 fs-4 fw-semibold"
                                       style="white-space: nowrap;">직무</label>
                                <select name="jobType" id="jobType" class="form-select">
                                    <option value="">선택하세요</option>
                                    {{#model.table.jobList}}
                                        <option value="{{name}}">{{name}}</option>
                                    {{/model.table.jobList}}
                                </select>
                            </div>

                            <!-- 경력 -->
                            <div class="d-flex align-items-center gap-2">
                                <label for="careerLevel" class="form-label mb-0 me-2 fs-4 fw-semibold"
                                       style="white-space: nowrap;">경력</label>
                                <select name="careerLevel" id="careerLevel" class="form-select">
                                    <option value="">선택하세요</option>
                                    {{#model.careerLevels}}
                                        <option value="{{.}}">{{.}}</option>
                                    {{/model.careerLevels}}
                                </select>
                            </div>
                        </div>

						<div class="d-flex gap-3">
							<div class="form-check">
								<input
										class="form-check-input"
										type="radio"
										name="sort"
										value="latest"
										checked
								/>
								<label class="form-check-label"
								>최신순</label
								>
							</div>
							<div class="form-check">
								<input
										class="form-check-input"
										type="radio"
										name="sort"
										value="deadline"
								/>
								<label class="form-check-label"
								>마감임박순</label
								>
							</div>
						</div>
					</div>
					<div class="checkbox-area flex-wrap">
						{{#model.table.stackList}}
							<div
									class="skill form-check d-flex gap-3 align-items-center"
							>
								<input
										class="form-check-input"
										type="checkbox"
										name="skills"
										value="{{skill}}"
								/>
								<label class="form-check-label">{{skill}}</label>
							</div>
						{{/model.table.stackList}}
					</div>
					<div class="d-flex justify-content-end mt-3">
						<button type="submit" class="btn btn-primary px-4 py-2 rounded-3 fw-bold">
							🔍 검색하기
						</button>
					</div>
				</form>
			</div>
			<!-- .filter-wrap end -->
			<div class="job-list">
				<ul class="card-wrap row">
					{{#model.employments}}
						<li class="card-1 col-3 mb-3">
							<a href="/employment/{{id}}" class="d-flex flex-column gap-2 w-100">
								<figure class="recommend-img overflow-hidden d-flex align-items-center border rounded">
									<img class="w-100"
									     src="{{imgUrl}}"
									     alt="임시이미지"/>
								</figure>
								<div class="recommend-content d-flex flex-column border rounded gap-3 py-3 px-3">
									<div class="top d-flex justify-content-between">
										<h3 class="fs-6 fw-medium">{{title}}</h3>
										<!-- .toggle-btn end -->
									</div>
									<!-- .top end -->
									<div class="bottom d-flex flex-column gap-3">
										<p class="fs-6">{{comName}}</p>
										<ul class="d-flex justify-content-start gap-4">
											<li class="d-flex align-items-center gap-1">
												<img src="/img/star_01.png" alt=""/>
												<p class="fs-6">{{exp}}</p>
											</li>
											<li class="d-flex align-items-center gap-1">
												<img src="/img/marker_01.png" alt=""/>
												<p class="fs-6">{{location}}</p>
											</li>
										</ul>
										<ul class="duty d-flex justify-content-start gap-1">
											<li class="p-2 rounded">
												<p class="fs-6 fw-medium">
													{{jobName}}
												</p>
											</li>
										</ul>
									</div>
									<!-- .bottom end -->
								</div>
								<!-- .recommend-content end -->
							</a>
						</li>
						<!-- .card-1 end -->
					{{/model.employments}}
				</ul>
				<!-- .card-wrap end -->
				<div class="pagging d-flex justify-content-center">
					<ul class="pagination">
						<li class="page-item {{#model.isFirst}}disabled{{/model.isFirst}}">
							<a class="page-link" href="?page={{model.prevPage}}">Previous</a>
						</li>
						{{#model.numbers}}
							<li class="page-item">
								<a class="page-link" href="?page={{.}}">{{.}}</a>
							</li>
						{{/model.numbers}}
						<li class="page-item {{#model.isLast}}disabled{{/model.isLast}}">
							<a class="page-link" href="?page={{model.nextPage}}">Next</a>
						</li>
					</ul>
				</div>
				<!-- .pagging end -->
			</div>
			<!-- .job-list end -->
		</div>
	</section>
</main>

<script>
    let employmentId = document.querySelector("#employmentId").value;

    async function saveScrap() {
        let requestBody = {employmentId: employmentId};
        let response = await fetch(`/api/scrap`, {
            method: "POST",
            body: JSON.stringify(requestBody),
            headers: {"Content-Type": "application/json"}
        });

        let responseBody = await response.json(); // {scrapId}
        console.log(responseBody);

        // DOM 업데이트
        let scrapIcon = document.querySelector('#scrapIcon');
        scrapIcon.style.color = 'yellow';
        scrapIcon.setAttribute('onclick', `deleteScrap(${responseBody.scrapId})`);
    }

    async function deleteScrap(scrapId) {
        let response = await fetch(`/api/scrap/${scrapId}`, {
            method: "DELETE"
        });
        let responseBody = await response.json(); // response.text();
        console.log(responseBody);

        // DOM 업데이트
        let scrapIcon = document.querySelector('#scrapIcon');
        scrapIcon.style.color = 'black';
        scrapIcon.setAttribute('onclick', `saveScrap()`);
    }
</script>

{{> layout/footer}}
