@import url("font.css");

* {
    box-sizing: border-box;
}

body {
    /* font-family: "Noto Sans KR", sans-serif; */
}

.icon-box {
    position: relative;
}

.icon {
    position: absolute;
    left: 85%;
    top: 10%;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bookmark-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #007bff;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}

.badge-custom {
    font-size: 0.875rem;
    color: #007bff;
    background-color: #f0f8ff;
    padding: 5px 10px;
    border-radius: 999px;
    display: inline-block;
    margin-top: 5px;
}

ul,
li {
    list-style: none;
}

main * {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 56px;
}

.container {
    max-width: 60%;
    gap: 46px;
}

.card-wrap {
    gap: calc(2% / 3);
}

.card-1 {
    width: 24.5%;
}

.recommend-img {
    height: 160px;
}

.bottom p {
    color: #888;
}

.bottom img {
    /* 아이콘 */
    width: 14px;
    height: 14px;
}

.duty li {
    background-color: #f0f0f0;
}

.duty p {
    color: #555;
}

.tagfont {
    color: #666;
    font-size: 12px;
}

.recommend-card {
    width: 60%px;
    display: grid;
    grid-template-columns: 6fr 6fr 6fr;
    gap: 50px;
    row-gap: 50px;
    background: white;
    overflow: hidden;
    padding: 40px;
}

.recommend-card-box {
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 5px;
}

.recommend-card-box img {
    width: 100px;
    height: 130px;
    border-radius: 5px;
}

.recommend-card-box-content {
    position: relative;
    padding: 10px;
}

.btn-detail {
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-top: 5px;
    padding: 6px 12px;
    background: #000;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.p-size {
    font-size: 12px;
    color: #666;
}
