@import url("font.css");

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* font-family: "Noto Sans KR", sans-serif; */
}

.felx-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 400px;
    margin: 75px;
}

.save {
    font-size: 28px;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    height: 36px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.select-box {
    width: 100%;
    height: 36px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.input-box {
    position: relative;
}

.button-box {
    border-left: 1px solid #000;
    border: none;
}

.input-header {
    font-size: 12px;
    margin-top: 10px;
}

.check-box {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    border: 0px solid #ccc;
    background: white;
    cursor: pointer;
    border-left: 1px solid #ccc;
}

.save-box {
    margin-top: 30px;
    margin-bottom: 20px;
}

.save-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    height: 50px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

.checkpwd {
    font-size: 10px;
    color: rgb(180, 178, 176);
}