@charset "utf-8";
@import url("font.css");

ul,
li {
    list-style: none;
}

main * {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 56px;
}

.container {
    max-width: 60%;
    gap: 16px;
}

section .container {
    background-color: #f0f0f0;
}
