@charset "utf-8";
@import url("font.css");

ul,
li {
    list-style: none;
}

main * {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 56px;
}

.container {
    max-width: 60%;
    gap: 16px;
}

/* .doc-wrap */
.doc-wrap {
    width: calc(68% - 8px);
}

.doc-logo {
    width: 64px;
}

.doc-logo img {
    width: 100%;
}

.doc-info1 .title {
    font-size: 32px;
    font-weight: 700;
}

.doc-info2 {
    background-color: #f0f0f0;
}

.doc-info2 h4 {
    width: 140px;
    color: #999;
}

.map-wrap {
    /* 지도영역 api 추가 후 수정 */
    height: 300px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 300px;
}

/* .apply-wrap */
.apply-wrap {
    width: calc(32% - 8px);
    height: 430px;
    position: sticky;
    top: 100px;
}

.logo-wrap figure {
    width: 40px;
    height: 40px;
}