@charset "utf-8";
@import url("font.css");

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

main * {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 56px;
}

.container {
    max-width: 60%;
}

/* .filter-wrap */
.checkbox-area {
    width: 100%;
    padding: 40px 200px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 8px;
}

/* list */

.card-1 {
    width: 25%;
}

.recommend-img {
    height: 160px;
}

.bottom p {
    color: #888;
}

.bottom img {
    /* 아이콘 */
    width: 16px;
    height: 16px;
}

.duty li {
    background-color: #f0f0f0;
}

.duty p {
    color: #555;
}

/* .pagging */
.pagging {
    width: 100%;
    padding: 56px 0;
}
