@import url("font.css");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
    /* font-family: "Noto Sans KR", sans-serif; */
}

.felx-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px;
}

.login-container {
    max-width: 30%;
    width: 100%;
}

.login-container h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
}

.login-container p {
    color: #999;
    font-size: 24px;
    margin-bottom: 60px;
    text-align: center;
}

.input-box {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.input-box:focus {
    outline: none;
    border: 1px solid #0077ff;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.options label {
    display: flex;
    align-items: center;
    gap: 6px;
}

.radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.submit-btn {
    width: 100%;
    /*background: #f2f2f2;*/
    /*color: #aaa;*/
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: not-allowed;
}

.links {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #0077ff;
}

.links a {
    text-decoration: none;
    color: #0077ff;
}
