@charset "utf-8";
@import url("font.css");

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

main * {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 56px;
}

.container {
    max-width: 60%;
    gap: 46px;
}

.card-wrap {
    gap: calc(2% / 3);
}

.card-1 {
    width: 24.5%;
}

.recommend-img {
    height: 160px;
}

.bottom p {
    color: #888;
}

.bottom img {
    /* 아이콘 */
    width: 14px;
    height: 14px;
}

.duty li {
    background-color: #f0f0f0;
}

.duty p {
    color: #555;
}

.card-wrap2 {
    gap: calc(1% / 2);
}

.card-2 {
    width: 33%;
}

.cont-wrap {
    color: #fff;
}
