<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/job-detail.css" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <!-- 채용공고 상세보기 -->

        <nav class="navbar navbar-expand bg-white border-bottom fixed-top">
            <div
                class="container d-flex justify-content-between align-items-center"
                style="max-width: 50%"
            >
                <!-- Left: 로고 + 메뉴 -->
                <div class="d-flex align-items-center gap-4">
                    <a class="navbar-brand text-primary fw-bold" href="#"
                        >WWY</a
                    >
                    <ul class="navbar-nav flex-row gap-3">
                        <li class="nav-item">
                            <a class="nav-link text-dark fw-semibold" href="#"
                                >채용</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fw-semibold" href="#"
                                >이력서</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fw-semibold" href="#"
                                >커뮤니티</a
                            >
                        </li>
                    </ul>
                </div>

                <ul class="navbar-nav d-flex flex-row gap-2">
                    <li class="nav-item">
                        <a class="btn btn-outline-primary btn-sm" href="#"
                            >회원가입/로그인</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary btn-sm" href="#"
                            >마이페이지</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger btn-sm" href="#">로그아웃</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main>
            <section>
                <div class="container mt-4 mb-5 d-flex justify-content-between">
                    <div class="doc-wrap p-4">
                        <div class="doc-info1">
                            <div class="doc-top d-flex justify-content-between">
                                <div
                                    class="title-wrap d-flex gap-4 align-items-center"
                                >
                                    <figure class="doc-logo">
                                        <img src="/img/icon00.png" alt="" />
                                    </figure>
                                    <!-- .doc-logo end -->
                                    <div class="d-flex flex-column gap-2">
                                        <h3 class="title">채용공고 제목</h3>
                                        <p class="description">회사명</p>
                                    </div>
                                </div>
                                <div class="btn-wrap mt-1">
                                    <div class="toggle-btn"></div>
                                </div>
                                <!-- .toggle-btn end -->
                            </div>
                            <div class="btn-wrap d-flex justify-content-end">
                                <a href="#" class="btn btn-warning me-1"
                                    >수정</a
                                >
                                <form action="" method="post">
                                    <button class="btn btn-danger">삭제</button>
                                </form>
                            </div>
                        </div>
                        <!-- .doc-info1 end -->
                        <div
                            class="doc-info2 d-flex flex-column mt-3 rounded overflow-hidden p-3 mb-1"
                        >
                            <div class="inner">
                                <div class="row">
                                    <div
                                        class="col-6 py-3 d-flex align-items-center"
                                    >
                                        <h4 class="fs-6 fw-semibold">직무</h4>
                                        <span class="fs-6 fw-semibold"
                                            >내용</span
                                        >
                                    </div>
                                    <div
                                        class="col-6 py-3 d-flex align-items-center"
                                    >
                                        <h4 class="fs-6 fw-semibold">
                                            지원 마감
                                        </h4>
                                        <span class="fs-6 fw-semibold"
                                            >내용</span
                                        >
                                    </div>
                                </div>

                                <div class="row">
                                    <div
                                        class="col-6 py-3 d-flex align-items-center"
                                    >
                                        <h4 class="fs-6 fw-semibold">
                                            고용 형태
                                        </h4>
                                        <span class="fs-6 fw-semibold"
                                            >내용</span
                                        >
                                    </div>
                                    <div
                                        class="col-6 py-3 d-flex align-items-center"
                                    >
                                        <h4 class="fs-6 fw-semibold">경력</h4>
                                        <span class="fs-6 fw-semibold"
                                            >내용</span
                                        >
                                    </div>
                                </div>

                                <div class="row">
                                    <div
                                        class="col-12 py-3 d-flex align-items-center"
                                    >
                                        <h4 class="fs-6 fw-semibold">직무</h4>
                                        <span class="fs-6 fw-semibold"
                                            >내용</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .doc-info2 end -->
                        <ul class="d-flex flex-column mt-5 pt-5">
                            <li class="d-flex flex-column mb-5">
                                <h4 class="fs-4 fw-semibold mb-3">업무 소개</h4>
                                <p class="fs-6">
                                    - 자사 웹 서비스 및 관리 시스템의 프론트엔드
                                    개발<br />
                                    - UI/UX 개선을 위한 기획 및 구현<br />
                                    - 디자이너 및 백엔드 개발자와의 협업<br />
                                    - 다양한 브라우저 및 디바이스 대응을 위한
                                    반응형 개발<br />
                                    - 성능 최적화 및 웹 접근성 향상
                                </p>
                            </li>
                            <li class="d-flex flex-column mb-5">
                                <h4 class="fs-4 fw-semibold mb-3">자격 조건</h4>
                                <p class="fs-6">
                                    - 자사 웹 서비스 및 관리 시스템의 프론트엔드
                                    개발<br />
                                    - UI/UX 개선을 위한 기획 및 구현<br />
                                    - 디자이너 및 백엔드 개발자와의 협업<br />
                                    - 다양한 브라우저 및 디바이스 대응을 위한
                                    반응형 개발<br />
                                    - 성능 최적화 및 웹 접근성 향상
                                </p>
                            </li>
                            <li class="d-flex flex-column mb-5">
                                <h4 class="fs-4 fw-semibold mb-3">자격 조건</h4>
                                <p class="fs-6">
                                    - 자사 웹 서비스 및 관리 시스템의 프론트엔드
                                    개발<br />
                                    - UI/UX 개선을 위한 기획 및 구현<br />
                                    - 디자이너 및 백엔드 개발자와의 협업<br />
                                    - 다양한 브라우저 및 디바이스 대응을 위한
                                    반응형 개발<br />
                                    - 성능 최적화 및 웹 접근성 향상
                                </p>
                            </li>
                            <li class="d-flex flex-column mb-5">
                                <h4 class="fs-4 fw-semibold mb-3">자격 조건</h4>
                                <p class="fs-6">
                                    - 자사 웹 서비스 및 관리 시스템의 프론트엔드
                                    개발<br />
                                    - UI/UX 개선을 위한 기획 및 구현<br />
                                    - 디자이너 및 백엔드 개발자와의 협업<br />
                                    - 다양한 브라우저 및 디바이스 대응을 위한
                                    반응형 개발<br />
                                    - 성능 최적화 및 웹 접근성 향상
                                </p>
                            </li>
                        </ul>
                        <ul class="point-wrap d-flex flex-column gap-2">
                            <li class="w100 rounded border p-5 d-flex">
                                <h4 class="fs-5 fw-semibold w-25">
                                    기술 스택 및<br />프로젝트 환경
                                </h4>
                                <p class="fs-6 fw-medium px-3">
                                    Linux, Docker, Python, React, TypeScript,
                                    Next.js, css3
                                </p>
                            </li>
                            <li class="w100 rounded border p-5 d-flex">
                                <h4 class="fs-5 fw-semibold w-25">급여사항</h4>
                                <p class="fs-6 fw-medium px-3">
                                    연봉 :
                                    <span class="fw-bold"
                                        >3,000만원 ~ (협의가능)</span
                                    >
                                </p>
                            </li>
                        </ul>
                        <figure class="doc-image w-100">
                            <img
                                class="w-100 mt-5"
                                src="/img/image00.png"
                                alt=""
                            />
                        </figure>
                        <figure class="doc-image w-100">
                            <img
                                class="w-100 mt-5"
                                src="/img/image00.png"
                                alt=""
                            />
                        </figure>
                        <div
                            class="map-wrap w-100 overflow-hidden rounded mt-5"
                        >
                            임시지도영역
                        </div>
                    </div>

                    <!-- .doc-wrap end -->
                    <aside
                        class="apply-wrap border rounded p-5 d-flex flex-column gap-3"
                    >
                        <div class="logo-wrap">
                            <figure><img src="img/icon00.png" alt="" /></figure>
                        </div>
                        <ul class="info-wrap">
                            <li class="fs-4 fw-bold">채용공고 제목</li>
                            <li>회사명</li>
                        </ul>
                        <div class="select-wrap d-flex flex-column gap-2">
                            <div class="dropdown w-100">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary dropdown-toggle w-100"
                                    data-bs-toggle="dropdown"
                                >
                                    지원분야
                                </button>
                                <ul class="dropdown-menu w-100">
                                    <li>
                                        <a class="dropdown-item" href="#"
                                            >리스트1</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"
                                            >리스트2</a
                                        >
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary dropdown-toggle w-100"
                                    data-bs-toggle="dropdown"
                                >
                                    이력서 선택
                                </button>
                                <ul class="dropdown-menu w-100">
                                    <li>
                                        <a class="dropdown-item" href="#"
                                            >이력서1</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"
                                            >이력서2</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="btn-wrap w-100">
                            <button type="button" class="btn btn-primary w-100">
                                지원하기
                            </button>
                        </div>
                    </aside>
                    <!-- .apply-wrap end -->
                </div>
                <!-- .inner end -->
            </section>
        </main>

        <footer class="bg-white py-5 border-top">
            <div class="container text-center" style="max-width: 60%">
                <h4>Copyright 2025. WWY All rights reserved.</h4>
                <h5>📧 a32176740@gmail.com</h5>
                <div>그린컴퓨터아카데미 부산</div>
                <div>Made By KDTC3-G3</div>
            </div>
        </footer>
    </body>
</html>
